<div class="booklist-container container mt-4">
    <h2 class="mb-4">Books List</h2>


    <div class="mb-3">
        <input
        type="text"
        class="form-control"
        placeholder="Search by title or author"
        [(ngModel)]="searchTerm"
        (input)="filterBooks()"
        />
    </div>

<div class="mb-3 text-end">
    <button class="btn btn-primary" routerLink="/add-book">Add New Book</button>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>

          <th (click)="sortBooks('title')">
            Title
            <span *ngIf="sortColumn === 'title'">
            {{ sortOrder === 'asc' ? '▲' : '▼'}}
            </span>
          </th>
          <th (click)="sortBooks('author')">
            Author
            <span *ngIf="sortColumn === 'author'">
            {{ sortOrder === 'asc' ? '▲' : '▼'}}
            </span>
          </th>
            <th (click)="sortBooks('publicationDate')">
              Publication Date
              <span *ngIf="sortColumn === 'publicationDate'">
                {{ sortOrder === 'asc' ? '▲' : '▼' }}
              </span>

            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of filteredBooks">
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.publicationDate | date: 'shortDate'}}</td>
            <td>
                <button class="btn btn-warning btn-sm me-2" [routerLink]="['/edit-book', book.id]">Edit</button>
                <button class="btn btn-danger btn-sm" (click)="deleteBook(book.id)">Delete</button>
            </td>
        </tr>
        <tr *ngIf="books.length === 0">
            <td colspan="4" class="text-center">No books found</td>
        </tr>
    </tbody>
</table>
</div>
